OPENAI_API_KEY=your_openai_api_key

MYSQL_HOST=rdsuf5mqwljzynpys5pwpeo.mysql.rds.aliyuncs.com
MYSQL_PORT=3306
MYSQL_USER=smart_device
MYSQL_PASSWORD=your_mysql_password
MYSQL_DATABASE=smart_device
MYSQL_CONNECTION_LIMIT=5
